@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 2rem;
  font-family: 'Titillium Web', sans-serif;
  color: #fff; }

ul {
  list-style-type: none; }

.circle {
  width: 40rem;
  height: 40rem;
  border-radius: 50%;
  position: relative;
  box-shadow: 1rem 2rem 4rem rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease; }
  .circle__top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #fff;
    border-top-right-radius: 20rem;
    border-top-left-radius: 20rem;
    text-align: center; }
    .circle__top--discription {
      position: absolute;
      top: 0rem;
      left: 50%;
      transform: translateX(-50%);
      font-size: 2rem;
      color: #0e6973; }
  .circle__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    border-bottom-right-radius: 20rem;
    border-bottom-left-radius: 20rem;
    z-index: 1; }
  .circle__show {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0.1;
    transition: all 1s ease-in;
    background-size: cover; }
    .circle__show--text {
      background-color: #0e6973; }

.checkbox {
  display: none; }

.header {
  font-size: 3rem;
  position: relative; }
  .header__image {
    height: 95vh;
    background-image: url("../img/viewFromPicoAustria.jpeg");
    -webkit-clip-path: polygon(0 0, 30% 0%, 100% 20%, 100% 100%, 15% 100%, 0% 30%);
    clip-path: polygon(0 0, 30% 0%, 100% 20%, 100% 100%, 15% 100%, 0% 30%);
    background-size: cover;
    background-position: center; }
  .header__name {
    position: absolute;
    left: -6.5rem;
    bottom: 9rem;
    background-image: linear-gradient(to right, #bf214b, #f26d85);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transform: rotate(-90deg); }
  .header__credo {
    position: absolute;
    right: 2rem;
    top: 1rem;
    background-image: linear-gradient(to right, #f26d85, #bf214b);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: moveInLeft 2s ease-out; }

.introduction {
  max-width: 600px;
  width: 55vw;
  padding: 2rem 0 15rem 0;
  margin: 0 auto; }
  .introduction__title {
    padding: 5rem 0 2rem 0;
    font-size: 4rem;
    text-align: center;
    color: #0e6973;
    text-transform: uppercase; }
  .introduction__text {
    font-size: 2rem;
    color: #0e6973;
    text-align: justify; }
    .introduction__text p {
      padding: 1rem; }

.link-github,
.link-github:link,
.link-github:visited {
  text-decoration: none;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease;
  font-size: 5rem;
  margin: 0.5rem;
  padding: 0.2rem 0.6rem; }

.link-github:hover,
.link-github:active {
  transform: scale(0.95); }

.project-1 {
  margin-bottom: 15rem; }

.circle__top--discription--dashboard {
  top: 8rem; }

.circle__bottom--dashboard {
  background-image: url("../img/dashboard-5.png");
  background-size: cover;
  background-position: left top; }

.circle__show--dashboard-1 {
  background-image: url("../img/dashboard-3.png");
  background-position: bottom; }

.circle__show--dashboard-2 {
  background-image: url("../img/dashboard-7.png"); }

.circle__show--dashboard-3 {
  background-image: url("../img/dashboard-2.png");
  background-position: center; }

.circle__show--dashboard-4 {
  background-image: url("../img/dashboard-4.png");
  background-position: center; }

.circle__show--dashboard-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to left top, #bf214b, #f26d85); }

.circle:hover {
  transform: scale(1.05); }

.circle:hover .circle__show--dashboard-1 {
  transform: translate(-27rem, -10rem) scale(0.9);
  opacity: 1; }

.circle:hover .circle__show--dashboard-2 {
  transform: translate(30rem, -12rem) scale(0.7);
  opacity: 1; }

.circle:hover .circle__show--dashboard-4 {
  transform: translate(24rem, 11rem) scale(0.6);
  opacity: 1; }

.circle:hover .circle__show--dashboard-link {
  transform: translate(13rem, -20rem) scale(0.3);
  opacity: 1; }

.circle:hover .circle__show--dashboard-text {
  transform: translate(-20rem, 13rem) scale(0.5);
  opacity: 1; }

.project-list {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  color: #fff; }

.project-2 {
  margin-bottom: 15rem; }

.wrapper {
  width: 100%;
  background-color: #eee; }

.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.links {
  display: flex;
  justify-content: flex-end; }
  .links__icon {
    background-image: linear-gradient(to left top, #bf214b, #f26d85);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 5rem;
    padding: 1rem; }
