*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 2rem;
  font-family: 'Titillium Web', sans-serif;
  color: black; }

.header {
  font-size: 3rem;
  position: relative; }
  .header__name {
    background-image: linear-gradient(to right, #bf214b, #f26d85);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; }
  .header__credo {
    background-image: linear-gradient(to right, #f26d85, #bf214b);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; }
