.header {
  font-size: 3rem;
  position: relative;

  &__image {
    height: 95vh;
    background-image: url('../img/viewFromPicoAustria.jpeg');

    -webkit-clip-path: polygon(
      0 0,
      30% 0%,
      100% 20%,
      100% 100%,
      15% 100%,
      0% 30%
    );
    clip-path: polygon(0 0, 30% 0%, 100% 20%, 100% 100%, 15% 100%, 0% 30%);
    background-size: cover;
    background-position: center;
  }

  &__name {
    position: absolute;
    left: -6.5rem;
    bottom: 9rem;
    background-image: linear-gradient(
      to right,
      rgb(191, 33, 75),
      rgb(242, 109, 133)
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transform: rotate(-90deg);
  }

  &__credo {
    position: absolute;
    right: 2rem;
    top: 1rem;
    background-image: linear-gradient(
      to right,
      rgb(242, 109, 133),
      rgb(191, 33, 75)
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: moveInLeft 2s ease-out;
  }
}
