.project-threejs {
  margin-bottom: 15rem;
  width: 80vw;
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
  color: rgb(14, 105, 115);
  align-items: center;

  @media only screen and (max-width: $breakpoint-medium) {
    flex-direction: column;
  }

  @media only screen and (max-width: $breakpoint-small) {
    margin-bottom: 5rem;
  }

  &__description {
    width: 20vw;
    text-align: left;
    p {
      padding: 1rem;
    }

    a {
      padding: 1rem;
      text-decoration: none;
      color: rgb(14, 105, 115);
    }

    @media only screen and (max-width: $breakpoint-medium) {
      width: 60vw;
      text-align: center;
      order: 1;
      margin-top: 5rem;
      margin-bottom: 5rem;
    }
  }

  &__iframe--element {
    padding: 10px;
    background: #000;
    /* webkit-border-radius: 50%; */
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
    border: none;
    width: 40rem;
    height: 40rem;

    @media only screen and (max-width: $breakpoint-small) {
      width: 90vw;
      height: 90vw;
    }
  }
}
