.project-dashboard {
  margin-bottom: 15rem;
  width: 80vw;
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
  color: rgb(14, 105, 115);
  align-items: center;

  &__description {
    width: 20vw;
    text-align: right;

    p {
      padding: 1rem;
    }
  }
}

.circle {
  width: 40rem;
  height: 40rem;
  border-radius: 50%;
  position: relative;
  box-shadow: 1rem 2rem 4rem rgba(0, 0, 0, 0.4);
  transition: all 1s ease-in-out;

  &__cover {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: 1;

    &--dashboard {
      background-image: url('../img/dashboard-4.png');
      background-size: cover;
      background-position: center;
    }
  }

  &__show {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0.1;
    transition: all 1s ease-in;
    background-size: cover;

    &--dashboard-1 {
      background-image: url('../img/dashboard-3.png');
      background-position: bottom;
    }

    &--dashboard-2 {
      background-image: url('../img/dashboard-7.png');
    }

    &--dashboard-3 {
      background-image: url('../img/dashboard-5.png');
      background-position: center;
    }
  }

  &:hover {
    transform: scale(1.05);
    margin-top: 13rem;
    margin-bottom: 5rem;
  }

  &:hover .circle__show--dashboard-1 {
    transform: translate(-16rem, -25rem) scale(0.9);
    opacity: 1;
  }

  &:hover .circle__show--dashboard-2 {
    transform: translate(15rem, -23rem) scale(0.7);
    opacity: 1;
  }

  &:hover .circle__show--dashboard-3 {
    transform: translate(20rem, 18rem) scale(0.6);
    opacity: 1;
  }
}
