.project-1 {
  margin-bottom: 15rem;
}

.circle {
  &__cover--dashboard {
    background-image: url('../img/dashboard-4.png');
    background-size: cover;
    background-position: center;
  }

  &__show--dashboard-1 {
    background-image: url('../img/dashboard-3.png');
    background-position: bottom;
  }

  &__show--dashboard-2 {
    background-image: url('../img/dashboard-7.png');
  }

  &__show--dashboard-3 {
    background-image: url('../img/dashboard-5.png');
    background-position: center;
  }

  &:hover {
    transform: scale(1.05);
  }

  &:hover .circle__show--dashboard-1 {
    transform: translate(-27rem, -10rem) scale(0.9);
    opacity: 1;
  }

  &:hover .circle__show--dashboard-2 {
    transform: translate(30rem, -12rem) scale(0.7);
    opacity: 1;
  }

  &:hover .circle__show--dashboard-3 {
    transform: translate(24rem, 11rem) scale(0.6);
    opacity: 1;
  }
}
