// VARIABLES FOR MEDIA QUERIES

$breakpoint-largest: 68.75em; // 1100px/16
$breakpoint-large: 62.5em; // 1000px/16
$breakpoint-medium: 56.25em; // 900px/16
$breakpoint-small: 37.5em; // 600px/16
$breakpoint-smallest: 31.25em; // 500px/16

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  padding: 2rem;
  font-family: 'Titillium Web', sans-serif;
  color: #fff;
}
