.wrapper {
  width: 100%;
  background-color: #eee;
}

.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.links {
  display: flex;
  justify-content: flex-end;

  &__icon {
    background-image: linear-gradient(
      to left top,
      rgb(191, 33, 75),
      rgb(242, 109, 133)
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 5rem;
    padding: 1rem;

    @media only screen and (max-width: $breakpoint-medium) {
      font-size: 4rem;
    }

    @media only screen and (max-width: $breakpoint-small) {
      font-size: 3rem;
    }
  }
}

.link__project {
  background-image: linear-gradient(
    to left top,
    rgb(14, 105, 115),
    rgb(71, 180, 192)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 5rem;
  padding: 1rem;

  @media only screen and (max-width: $breakpoint-medium) {
    font-size: 4rem;
    transform: translateX(-25vw);
  }

  @media only screen and (max-width: $breakpoint-small) {
    font-size: 3rem;
  }
}
